{% extends 'base.html' %}

{% block content %}
<body>
  <main class="container mt-3">
    <!-- HERO -->
    <section class="jumbotron text-center mt-4" style="background: url('https://place-hold.it/1600x300'); background-position: center center">
      <h1 class="display-4">Всякие туры</h1>
      <p class="lead">{{ subtitle }}</p>
      <p class="mt-5 w-50 mx-auto">{{ description }}</p>
    </section>
    <!-- CARDS -->
    <div class="row mt-5">
      <div class="col-4">
        <div class="card mb-4">
          <div class="embed-responsive embed-responsive-16by9">
             <img class="card-img-top embed-responsive-item" src="{{ tours.1.picture }}" alt="" />
          </div>          
          <div class="card-body">
            <h2 class="h5 card-title">{{ tours.1.title }}</h2>
            <p class="card-text">{{ tours.1.description | truncate(150) }}</p>
            <a href="#" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card mb-4">
          <div class="embed-responsive embed-responsive-16by9">
             <img class="card-img-top embed-responsive-item" src="{{ tours.3.picture }}" alt="" />
          </div>          
          <div class="card-body">
            <h2 class="h5 card-title">{{ tours.3.title }}</h2>
            <p class="card-text">{{ tours.3.description | truncate(150) }}</p>
            <a href="#" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card mb-4">
          <div class="embed-responsive embed-responsive-16by9">
             <img class="card-img-top embed-responsive-item" src="{{ tours.5.picture }}" alt="" />
          </div>          
          <div class="card-body">
            <h2 class="h5 card-title">{{ tours.5.title }}</h2>
            <p class="card-text">{{ tours.5.description | truncate(130) }}</p>
            <a href="#" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card mb-4">
          <div class="embed-responsive embed-responsive-16by9">
             <img class="card-img-top embed-responsive-item" src="{{ tours.7.picture }}" alt="" />
          </div>          
          <div class="card-body">
            <h2 class="h5 card-title">{{ tours.7.title }}</h2>
            <p class="card-text">{{ tours.7.description | truncate(130) }}</p>
            <a href="#" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card mb-4">
          <div class="embed-responsive embed-responsive-16by9">
             <img class="card-img-top embed-responsive-item" src="{{ tours.9.picture }}" alt="" />
          </div>          
          <div class="card-body">
            <h2 class="h5 card-title">{{ tours.9.title }}</h2>
            <p class="card-text">{{ tours.9.description | truncate(130) }}</p>
            <a href="#" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card mb-4">
          <div class="embed-responsive embed-responsive-16by9">
             <img class="card-img-top embed-responsive-item" src="{{ tours.11.picture }}" alt="" />
          </div>          
          <div class="card-body">
            <h2 class="h5 card-title">{{ tours.11.title }}</h2>
            <p class="card-text">{{ tours.11.description | truncate(140) }}</p>
            <a href="#" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
{% endblock %}
